
body{
    font-family: 'Amatic SC', cursive;
}

.wallpaper {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Grow - effect courtesy of hover.css */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.02);
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.05em solid white;
    border-radius: 4em;
    width: 8em;
    height: 3em;
    cursor: pointer;
}

.custom-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.05em solid white;
    border-radius: 4em;
    width: 12em;
    height: 3em;
    cursor: pointer;
}


/* .bg {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
  } */


@media (min-width: 650px ) {
    .wallpaper {
        background-position: center center;
        background-size: cover;
   
    }

}