
body{
    font-family: 'Amatic SC', cursive;
}
.bannerContent{
    margin-top : 18%;
   
}

.wallpaper {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.screenContainer {
    padding-top: 4em;
    padding-bottom: 6em;
    padding-left: 6em;
    padding-right: 6em;
}
.logo {
    height: 4em;
    margin: 1em;
}

/* Grow - effect courtesy of hover.css */
.hvr-grow {
    /* display: inline-block;
    vertical-align: middle; */
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.02);
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.05em solid white;
    border-radius: 4em;
    width: 8em;
    height: 3em;
    cursor: pointer;
}

.custom-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.05em solid white;
    border-radius: 4em;
    width: 11em;
    height: 3em;
    cursor: pointer;
}


/* .bg {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
  } */

  @media screen and (max-width: 980px) {

    .bannerContent{
        margin-top : 24%;
       
    }
   

}

  @media screen and (max-width: 768px) {

    .bannerContent{
        margin-top : 30%;
       
    }

  }
@media (max-width: 650px ) {
    .wallpaper {
        background-position: center center;
        background-size: cover;
   
    }
    .bannerContent{
        margin-top : 30%;
       
    }

    .screenContainer {
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 3em;
        padding-right: 3em;
    }

}
@media (max-width: 480px ){
    .bannerContent{
        margin-top : 60%;
       
    }

    .screenContainer {
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 2em;
        padding-right: 2em;
    }

}

@media (max-width: 450px ){

    .logo {
        height: 3em;
        margin: 0.5em;
    }

}
@media (max-width: 320px ){
    .bannerContent{
        margin-top : 60%;
       
    }
    .logo {
        height: 3em;
        margin: 0.2em;
    }
    
}

